<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(SuchaoLeagueWasm.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(SuchaoLeagueWasm.Components.Layout.MainLayout)">
            <p>抱歉，没有找到该页面。</p>
        </LayoutView>
    </NotFound>
</Router>

<HeadOutlet />